.header{
    
    margin-bottom: 40px;
    margin-right: -50px;
    background: #9575cd;
    color:floralwhite;
}
#name_bar{
    text-align: center;
}
#name_people{
    background-color:white;
    margin-bottom:20px;

}
#name_people.p{
    background-color: tomato;
}

#simplified_details{
    margin-top:60px;
}

.footer{
    margin-top:550px;
    margin-left: -50px;
    margin-right:-50px;
  background-color:#9575cd;
  color: white;
  text-align: center;
}

body{
    background-color:lightblue;
}



@media (max-width: 577px) {
    .add_it{
        display: none;
    }
    #chat_box{
      display: none;
    }
    #main_block{
        margin-right:-60px;
    }
    #simplified_details{
        margin-left: 20px;
        margin-right: 20px;
    }
    #simply__btn{
        justify-content: start;
    }
    #get_details_button2{
        margin-top: 10px;
    }
    #chat_box{
        margin-top: 20px;
    }
  }

  #send-container{
    display: block;
    height: 400px;
    background-color: yellow;
}


.left{
    float: left;
    clear:both;
 }
 
 .right{
    float:right;
    clear:both;
 }

 #add_names{
     text-align: center;
 }

 #simply_details_button{
     margin-top: 20px;
 }

 
