.header{
    
    margin-bottom: 40px;
    background: #9575cd;
    color:floralwhite;
}
#name_bar{
    text-align: center;
}
#name_people{
    background-color:white;

}
#name_people.p{
    background-color: tomato;
}

#simplified_details{
    margin-top:60px;
}

.footer{
    margin-top:550px;
    margin-left: -50px;
    margin-right:-50px;
  background-color:#9575cd;
  color: white;
  text-align: center;
}

body{
    background-color:lightblue;
    
  
}